{{ define "main" }}
<div class="luxury-page-wrapper">
    <div class="luxury-split-layout">
        <div class="luxury-text-side">
            <div class="luxury-content">
                <!-- <p class="top-tag reveal-item" style="--delay: 0.1s">LÊ QUỐC TRỌNG</p> -->
                
                <h1 class="luxury-main-title">
                    <div class="hider"><span class="reveal-anim" style="--d: 0.2s">Về</span></div>
                    <div class="hider"><span class="reveal-anim" style="--d: 0.3s">Bản Thân.</span></div>
                </h1>
                <div class="luxury-bio reveal-anim" style="--d: 0.5s">
                    <h3 class="luxury-job">LÊ QUỐC TRỌNG — Java&JavaSrcipt</h3>
                    
                    <p>Tôi là sinh viên năm 3 khoa <strong>Công Nghệ Thông Tin - HUTECH</strong>. Trong khi bạn bè đồng trang lứa còn đang loay hoay với "Hello World", tôi đã chọn dấn thân vào những tầng sâu nhất của hệ thống máy tính.</p>

                    <p>Tôi không chỉ viết code, tôi <strong>kiến tạo giải pháp</strong>. Với nền tảng vững chắc về <strong>Lập trình mạng</strong> và <strong>Java Concurrency</strong>, tôi bị ám ảnh bởi việc tối ưu hóa từng mili-giây độ trễ (Latency) và xử lý hàng nghìn luồng dữ liệu song song.</p>
                    
                    <p>Tư duy của tôi là hướng tới <strong>Enterprise Level</strong>: Code không chỉ chạy được, mà phải sạch (Clean), dễ bảo trì (Maintainable) và có khả năng mở rộng (Scalable). Những đêm thức trắng debug Socket hay tối ưu hóa thuật toán không làm tôi mệt mỏi, chúng tôi luyện tôi thành một kỹ sư bản lĩnh.</p>
                </div>
                <div class="luxury-quote reveal-anim" style="--d: 0.8s">
                    "Đừng code như một thợ xây, hãy tư duy như một kiến trúc sư."
                </div>
            </div>
        </div>

        <div class="luxury-image-side">
            <div class="luxury-img-frame image-anim">
                <img src="anh2.jpg" alt="Lê Quốc Trọng" onerror="this.src='/LeQuocTrong_Blog/anh2.jpg'">
            </div>
        </div>
    </div>
</div>
{{ end }}