<header class="luxury-header">
    <nav class="luxury-nav">
        <div class="luxury-logo">
            <a href="{{ "" | absURL }}">LÊ QUỐC TRỌNG</a>
        </div>
        <ul class="luxury-menu">
            <li>
                <a href="{{ "" | absURL }}" 
                   class="{{ if .IsHome }}active{{ end }}">TRANG CHỦ</a>
            </li>
            
            <li>
                <a href="{{ "about" | absURL }}" 
                   class="{{ if in .RelPermalink "about" }}active{{ end }}">GIỚI THIỆU</a>
            </li>

            <li>
                <a href="{{ "posts" | absURL }}" 
                   class="{{ if (or (eq .Section "posts") (in .RelPermalink "posts")) }}active{{ end }}">BLOG</a>
            </li>

            <li>
                <a href="{{ "contact" | absURL }}" 
                   class="{{ if in .RelPermalink "contact" }}active{{ end }}">LIÊN HỆ</a>
            </li>
        </ul>
    </nav>
</header>